<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>@DateTime.Now</div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>@User.Identity.Name</div>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="登出" />
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="SignUp">注册</a>
        <a asp-controller="Account" asp-action="Login">登录</a>
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>